# copy this file to /etc/nginx/sites-enabled/codechef
# and restart nginx
server {
	listen 80;
	listen [::]:80;

	# REPLACE it with you server name
	server_name aliyun.mrigankkrishan.tk;

	index index.html;

	location / {
		# REPLACE it with you path to codechef_friends
		root /path/to/codechef_friends/frontend/dist;
		try_files $uri $uri/ =404;
	}

	location /static/ {
		root /path/to/codechef_friends/static;
		try_files $uri $uri/ =404;
	}

	# this part will be handled by django
	location ~ ^/(api|oauth|admin)/ {
		# replace PORT
		proxy_pass http://localhost:PORT;
	}

}
